.small_container {
    color: #78373f;
    background-color: white;
    font-family:Kanit;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

body {
    color: #78373f;
    background-color: darkgray;
    font-family:Kanit;
}

.item {
    width:20px;
    height:25px;
    margin:5px;
    background:lightgray;
}

.page_container {
    background-color: lightgrey;
}

.flex {
    display:flex;
}

.center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.grow-1 {
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

grow-3 {
    flex-grow: 3;
}

.shrink-0 {
    flex-shrink: 0;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    margin-top: 5%;
    width: 650px;
}

.service, .product-service {
    font-weight: bold;
}

.date {
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.text {
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.date_text {
    color: gray!important;
    margin-top: 5px;
}

.question {
    font-weight: bold;
    margin-top: 40px;
}

.additional_comment {
    font-weight: bold;
    margin-top: 90px;
}

textarea {
    width: 80%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 50px;
}

.submit {
    width: 120px;
    height: 40px;
    color: white;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-image: linear-gradient( #5b5b5b, gray);
    margin-bottom: 15px;
}